# Environments
.venv/
venv/
env/
ENV/

# Python caching & builds
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.mypy_cache/

# Databases
*.db
*.sqlite3

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.*
!.env.example

# IDEs & Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
